* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1368px;
  margin: 0 auto;
  overflow: hidden;
}
.nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  border: 1px solid black;
}
.menu__nav {
  display: flex;
}
.hidden {
  width: 5px;
}
.nav__item {
  width: 80%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.theme-white {
  background-color: white;
  border: 1.5px solid #ccc;
}

.theme-yellow {
  background-color: yellow;
  color: aqua;
  transition: 0.5s ease;
}
.theme-aqua {
  background-color: aqua;
  transition: 0.5s ease;
}

.theme-yellowgreen {
  background-color: yellowgreen;
  transition: 0.5s ease;
  color: white;
}
.theme-red {
  background-color: red;
  transition: 0.5s ease;
}
li {
  list-style: none;
  background-color: black;
}
.settings-red {
  color: blue;
}
.sizePage {
  display: flex;
  width: 230px;
}
.size__box {
  width: 60px;
  margin-left: 10px;
  background-color: coral;
  height: 60px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
}
.sidebar {
  text-align: center;
  width: 350px;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid black;
  transition: width 0.3s ease;
}

.hidden {
  width: 100px;
  transition: 0.3s ease;
}
.side_element {
  margin-top: 40px;
  width: 100%;
  height: 60px;
  justify-content: center;
  font-size: 30px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.side_element button {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 20px;
}
.side_element:hover {
  transition: 0.5s ease;
  cursor: pointer;
  color: white;
  background-color: #ccc;
}
.side_element:hover button {
  color: white;
  transition: 0.5s ease;
}
.secret {
  display: none;
}
.side_title {
  font-size: 25px;
  display: block;
}
.content {
  display: flex;
}
.create__page {
  padding-top: 100px;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
}

thead tr {
  padding: 10px 15px;
  border: 1px solid #551919;
}
table {
  width: 500px;
  border-radius: 2px;
  box-shadow: 0 0 0.5em #000;
}
thead {
  background: linear-gradient(#606062, #28262b);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
th,td {
  font-size: 25px;
  padding: 10px;
  border: 1px solid #000;
}
@media (max-width: 650px) {
  .users-table {
    width: 60vw;
  }
}
